*{
    color:rgb(17,28,36);
    box-sizing: border-box;
}
/* start nav */
.nav-link{
    color:rgb(17,28,36);
    font-size:1rem;
    font-style: italic;  
}
.nav-link:hover{
    color:rgb(224,17,157); 
}
nav .span{
    color:rgb(224,17,157);
    font-size:1.2rem;
    font-style: italic;   
}
 .mar{ 
   margin-left: 17% !important; 
} 
/* end nav */
/* start header */
/* start media query nav */
@media (max-width: 575px) { 
    nav .span{
        color:rgb(224,17,157);
        font-weight:bold;       
    }  
}
/* end media query nav */
header{
    background-image: url('img/img (8).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
}
header h1{
    margin-top:10%;
    font-size:4rem;
    text-shadow:2px 2px rgb(224,17,157);
}
header span{
    text-shadow:2px 2px #fff;
}
header p{
    font-size:2.2rem;
    text-shadow:2px 2px rgb(224,17,157);
    animation-name:animation;
    animation-duration: 2s;
}
header .butd{
    box-shadow: 6px 6px 6px #252424;
    background-color:#212121 !important;
}
header a:hover{
   color:rgb(224,17,157) !important;
   text-decoration: none; 
}
header a{
    font-weight:500 !important;
 }
header span{
    color:rgb(224,17,157);
}
/* end header */
/* start media query nav */
@media (max-width: 1199px) {
    header .butd{
        box-shadow: 5px 5px 5px #313030;
    }
     }
     @media (max-width: 775px) {
        #header h2{
            margin-top: 45rem !important;
        }
        #header p{
           padding:5%;
        }
     }
     @media (max-width: 575px) {
        #header h2{
            margin-top: 75rem !important;
        }
        #header p{
           padding:5%;
        }
     }
/* end media query nav */
/* start sectionpropos */
#propos{
    line-height: 2;
}
#propos h2{
    color:rgb(224,17,157);
    text-shadow:2px 2px rgb(59, 58, 58);
}
#propos img{
    width:100%;
    height:40vh;
}
#propos .btn{
    box-shadow: 4px 4px 4px 4px rgb(192, 186, 186);
    background-color:#212121 !important;
}
#propos li{
    list-style-type: none;
}
#propos i{
   border-radius: 50%;
}
.one{
    color:#0078F8;
}
.two{
    color:rgb(224,17,157);
}
.three{
    color:#707878;
}
.four{
    color:#2196F3;
}
/* end sectionpropos */
/* start media query nav */
@media (max-width: 575px) {
    #propos h2{
        padding-top: 10px !important;
    }
    #propos p{
       padding:3% !important;
    }
    #propos img{
        height:20vh !important;
    }
 }
 @media (max-width: 775px) {
    #propos img{
        height:20vh !important;
    }
 }
/* end media query nav */
/* start section2 */
#section2 .progress .progress-bar{
    background-color: rgb(167,16,86);
}
#section2 h2{
    color:rgb(224,17,157);
    text-shadow:2px 2px rgb(59, 58, 58);
    font-size:3.2rem;
    font-style: italic;
}
/* end section2 */
/* start section3expérience */
#expérience{
    background-color:#F0F0F0;
    margin-top:5rem;
    line-height:2;
}
#expérience .five{
    color:rgb(224,17,157);
    text-shadow:2px 2px #212121; 
}
.parag :hover{
    border:4px ridge rgb(224,17,157);
    transition: all 0.2s ease-in-out;
}
#expérience h2{
    text-shadow:2px 2px rgb(224,17,157);
    font-size:3.2rem;   
}
#expérience p{
    box-shadow: 2px 2px 2px 2px rgb(192, 186, 186);
}
@media (max-width: 575px) 
    {
    #expérience h2
    {
        font-size:2rem !important; 
    }
    }
    @media (max-width: 767px)  
    {
   #expérience h2 
    {
            font-size:2rem !important; 
    }
    }
/* end sectionexpérience */
/* start sectionportfolio */
#portfolio h2
{
    text-shadow:2px 2px rgb(39, 36, 37);
    font-size:3.2rem;
    font-style: italic;
    color:rgb(224,17,157);
}
#portfolio .img
    {
    width:100%;
    height:40vh;
    border:1px solid #e0e0e0;
    }
    #portfolio .img:hover
    {
     border-bottom-left-radius: 35%;
     border-top-right-radius: 35%;
    }
    #portfolio .nav-link
    {
        color:rgb(224,17,157) !important;
    }
/* end sectionportfolio */
     /* start media query nav */
     @media (max-width: 575px) 
     {
     #portfolio .img
        {
            height:40vh;
        }
     }
     @media (max-width: 775px) 
     {
     
     }
    /* end media query nav */
/* start sectioneducation */
#education{
    background-color: #F0F0F0 ;
    line-height: 1.6;
}
#education p{
box-shadow: 2px 2px 2px 2px rgb(192, 186, 186);
}
#education span{
    font-size:1.2rem;
}
#education small{
    padding-top:1.2rem !important;
}
#education h2{
    text-shadow:2px 2px rgb(39, 36, 37);
    font-size:3.2rem;
    font-style: italic;
    color:rgb(224,17,157);
}
#carouselExampleInterval img{
    height:70vh;
}
.carouse{
    text-shadow:2px 2px rgb(39, 36, 37);
    font-size:3.2rem;
    color:rgb(224,17,157);
}
/* end sectioneducation */
/* start footer */
footer{
    background-image: url('img/businessman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;  
}
footer h2{
    text-shadow:2px 2px rgb(241, 239, 239);
    font-size:3.2rem;
    color:rgb(224,17,157);
    font-style: italic;
}
footer h3{
    text-shadow:2px 2px rgb(224,17,157);
}
footer span{
    font-weight:bold;
}
footer a{
    color:#212121;
}
footer a:hover{
    text-decoration: none; 
}
footer .btn{
        background-color:#212121 !important;
    }  
.foot{
    background-color: #F0F0F0 ;  
}
.foottitre{
    text-shadow:2px 2px rgb(224,17,157);
}
/* end footer */
/* animation */
 .icon{
   background-color:#fff !important;
   border-radius: 50%;
   border:1px solid rgb(204, 202, 203);
}
.foot i{
    font-size:2rem;
}
.foot .i1{
    color:#3F51B5;
}
.foot .i2{
    color:#0073b1;
}
.foot .i3{
    color:#F4511E;
}
.foot .i4{
    color:rgb(255, 0, 0);
}
.mssg{
    color:#fff;
    font-size:1rem;
}
.div{
    margin-top:-25px !important;
}
.div11{
    margin-bottom:-25px !important;
}
.foot i:hover{
    color:rgb(224,17,157);
}







              